# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar

# composer lock
composer.lock

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

tests/_output/*
tests/_support/_generated

#vagrant folder
/.vagrant

.DS_Store
.idea
.vscode
package-lock.json
*.ai
*.log
*.pdf
*.psd
*.sublime*
node_modules/
npm-debug.*
source/css/*.css
source/css/*.map
Thumbs.db

web/uploads/avatars/*
! web/uploads/avatars/.gitkeep

web/uploads/img/*
! web/uploads/img/.gitkeep

web/js/firebaseConfig.js
