.search-results {
  margin-bottom: 45px;
  padding: 25px 0;
}

.search-results__wrapper {
  @include container;
  padding: 0 26px;
}

.search-results__label {
  margin: 0 0 29px;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: $blue;
}

.search-results__list {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
}

.search-results__item {
  display: flex;
  flex-direction: column;
  margin: 0 9px 9px 0;
  width: calc(25% - 6.75px);
}

.search-results__item:nth-child(4n) {
  margin-right: 0;
}

.search-results__message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 390px;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: $blue;
}

.search-results__message p {
  margin: 0 0 12px;
}
