$black: #000000;
$white: #ffffff;
$beige: #f3ece6;
$blue: #2b51a6;
$dark-blue: #24448D;
$grey: #979797;
$invalid: #f98c24;
$tahoma: "Tahoma", "Arial", sans-serif;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
